
<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>

    <% if session[:user_id] %>
    <h2>Welcome <%=@logged_in_user.first_name%> <%=@logged_in_user.last_name%>!</h2><br>
    <a href="/requests">Your Requests</a><br>
    <br>
    <form action="/logout" class="button" style="display: inline-block;">
      <input type="submit" value="Log out" style="position: absolute; top: 30px;padding:2px;"/>
    </form>
    <div style="position: relative; bottom: 0px">
    <h3>Book a space</h3><br>
    <form action="/newspace" class="button" style="display: inline-block;">
      <input type="submit" value="List a Space" style="margin-bottom: 20px;padding:5px; position: relative; left: -450px;"/>
    </form>
    </div>

    <% else %>

    <h2>Welcome!</h2>
    <h3>To book a space just sign up or login!</h3>
    <form action="/signup" class="button" style="display: inline-block;">
      <input type="submit" value="Sign up" style="position: absolute; top: 30px;padding:2px"/>
    </form>
    <form action="/login" class="button" style="display: inline-block;">
      <input type="submit" value="Login" style="position: absolute; top:60px;padding:2px;"/>
    </form>
    
    <% end %>
    
    <div class="spaces_list">
      <% @spaces.each do |space| %>
      <a href="/<%="#{space.space_id}"%>"><%= space.title %></a></p>
      <p><%= space.description %></p>
      <p><%= space.price_per_night%></p><br>
      <% end %>
    </div>
  </body>
</html>

