
<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>MakersBNB</h1>

    <% if session[:user_id] %>
    <h2>Welcome <%=@logged_in_user.first_name @logged_in_user.last_name%>!</h2>
    <% else %>
    <h2>Welcome!</h2>
    <% end %>
    
    <form action="/signup" class="button">
      <input type="submit" value="Sign up"/>
    </form>

    <form action="/login" class="button">
      <input type="submit" value="Login"/>
    </form>
    <div>
      <% @spaces.each do |space| %>
      <% host_name = @user_repo.find_by_id(space.host_id).first_name%>
      <% title = space.title.split().join("_")%>
      <a href="/<%="#{host_name}"%>/<%="#{title}"%>"><%= space.title %></a></p>
      <p><%= space.description %></p>
      <p><%= space.price_per_night%></p><br>
      <% end %>
    </div>
  </body>
</html>

